
.search-wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.branding{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    color: #777;
}
.logo{
    width:2.4rem;
    height:2.4rem;
    fill:#777;
    align-items: center;
}

:root{
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

body{
    background-color: #ffffff;
    }


.main-content{
    margin-left: 7rem;
    padding: 1rem;
}
.topwrapper{
    display:flex ;
    position: relative;
    gap:1rem;
    justify-content: space-around;
}
.profile-pc{
    width: 3rem;
    height: 3rem;
    background-color: #1d2a77;
    border-radius: 50%;
}


input{
    font-size: 1rem;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
    border: #b0cef7 0.1rem solid;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem,1fr));
    gap: 2rem;
    margin-top: 1rem;
    max-width: 100vw;
    height: fit-content;
}

.card{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 4px 0px rgba(3, 0, 92, 0.48);
    transition: 0.3s ease all;
}
.card > .header{
    margin-bottom: 0rem;
    font-size: 1.4rem;
    font-weight: 550;
    border-bottom: #cbd5e1 solid;

}

.card > .description{
    font-size: 0.8rem;
    color:#777;
}
.skills{
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
.skill{
    border: #557aaa 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    color: #557aaa;
    background-color: #d9ebff;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1;
    display: grid;
    place-items: center;
    flex-basis: 200;
}

.hide{
    display: none;
}
.status{
background-color: green;
  padding:0.3rem 0.8rem;
  color:white;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: fit-content;

}

.level{
    border:0.15rem #c06767 solid;
    width: fit-content;
    padding: 0 1rem;
    color:#c06767;
    background-color: #fee6e6;
    line-height: 0.8;
    height: fit-content;
    padding:0.3rem 0.8rem;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: fit-content;
  
}
.flexcon{
    display: flex;
    gap:1rem;
    place-items: center;
    margin-top: 0.5rem;
}
.apply-btn {
    border-style: solid;
    background-color: #7055aa;
    color:#ffffff;
    font-family: Poppins;
    border-radius: 0.8rem;
    fill:white;
    display: flex;
    width: fit-content;
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
    transition: 0.4s ease all;
}
.arrow{
    width:1.5rem;
}
.apply-btn a{
    display: flex;
    text-decoration: none;
    color: white;
}
.btn-cnt{
    display: flex;
    justify-content: flex-end;
}
.apply-btn:hover{
    background-color: rgb(66, 106, 161);
    scale: 1.05;
    transition: 0.4s ease all;
    cursor: pointer;
}
.card:hover{
    outline: #7055aa solid 0.2rem;
    transition: 0.3s ease all;
    scale:1.005;
}

@media (max-width: 589px) {
    .search-wrapper{
        align-items: center;
    }
    input[type="search"] {
      font-size: 12px;
      padding:2px 4px;
      width: 100%;
      height: fit-content;
      margin:0;
    }

    .card > .header{
        font-size: 0.8rem;
        font-weight: 550;
        border-bottom: #cbd5e1 solid;
    }
  }




  
/*Side Nav*/

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #808af5;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 5rem;
	padding: 2rem 1rem;
	background-color: #9797db;
    height: 100vh;
    position:fixed;
    border-radius: 0.5rem;
    color:#777;
}

.sidebar h3 {
	color: #cacbce;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
    border-radius: 1rem;
    
    margin-bottom: 0.5rem;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #1d2a77;
	border-right: 5px solid #1d2a77;
    outline: solid 0.1rem #1d2a77;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #1d2a77;
}

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
        z-index: 100;
	}
	.content {
		padding-top: 8rem;
	}
	.sidebar {
		position: fixed;
        left: -90px;
		top: 0;
        height:100vh;
        display: flex;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}
    .topwrapper{
        font-size: 1rem;
    }
    .main-content{
        margin-left: 0rem;
        padding: 0rem;
    }
    .cards{
        max-width: 100vw;
    }
    .card{
        max-width: 100vw;
    }
}